@model MusicBook.Models.ViewModels.HomeViewModel

@using Microsoft.AspNetCore.Identity
@using MusicBook.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
<div>
    <div class="ProfileHead">
        <h2 style="text-align:center; font-weight:bold; padding-bottom:10px;" class="ProfileHead" >Hello @Html.DisplayFor(model => model.CurrentUser.UserName)!</h2>
    </div>
    <p style="text-align:center; padding-bottom:10px;">@Html.DisplayFor(model => model.CurrentUser.Experience)</p>
    <div>
    </div>
    <p style="text-align:center; padding-bottom:10px;">@Html.DisplayFor(model => model.CurrentUser.Location)</p>
    <div>
    </div>
 
    <ul style="text-align:center;">
        Instruments Played:
        @foreach (var item in Model.UserInstruments)
        {
            <li style="text-align:center; list-style-type:none;">

                @Html.DisplayFor(modelItem => item.InstrumentName)
            </li>



        }
    </ul>
 </div>
}

else
{
    <div>
        <div class="col-md-3">
            <p>Please Register An Account or Log In</p>
        </div>

    </div>
}


