@model MusicBook.Models.ViewModels.HomeViewModel

@using Microsoft.AspNetCore.Identity
@using MusicBook.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
<div>
    <div>
        <p>Hello!</p>
    </div>
    <p>@Html.DisplayFor(model => model.CurrentUser.Experience)</p>
    <div>
    </div>
    <p>@Html.DisplayFor(model => model.CurrentUser.Location)</p>
    <div>
    </div>
 
     
    @foreach (var item in Model.UserInstruments)
    {          
        <p>

                @Html.DisplayFor(modelItem => item.InstrumentName)
        </p>
            

    
        }
 
 </div>
}

else
{
    <div>
        <div class="col-md-3">
            <p>Please Register An Account or Log In</p>
        </div>

    </div>
}


