@model MusicBook.Models.ViewModels.ExternalProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.ExternalUser.UserName)
        </dt>
    </dl>
<p>@Html.DisplayFor(model => model.ExternalUser.Experience)</p>
<div>
</div>
<p>@Html.DisplayFor(model => model.ExternalUser.Location)</p>
<div>
</div>
@foreach (var item in Model.UserInstruments)
{
    <p>

        @Html.DisplayFor(modelItem => item.InstrumentName)
    </p>



}

 </div>
<div>
    <a asp-action="Search">Back to Search</a>
</div>