@model MusicBook.Models.ViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Instrument</h4>
<hr />
<h4>Instrument</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div>
                <label asp-for="UserInstruments" class="control-label"></label>
                <ul class="list-group">
                    @foreach (var item in Model.UserInstruments)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.DisplayFor(model => item.InstrumentName)
                            <span class="badge badge-primary badge-pill">
                            </span>
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



